*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth ;
}
.parent{
    height:100%;
    width:100%;
}
.nav{
    height:70px;
    background-color: black;
    display:flex;
    flex-direction: row;
}
.nav .logo{
    color:white;
    font-size: 26px;
    width:750px;
}
.nav ul{
    padding-top:20px;
    font-size: 26px;;
    color:white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap:70px;
}
.banner{
    width:700px;
}
.banner img{
    width:1350px;
    height:200px;
}
.new{
    display:flex;
    flex-direction: row;
    height:150px;
    justify-content: space-evenly;
    text-align: center;
}
.new img{
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius:20px;
}
.arrivals {
    border:1px solid black;
}
.arrivals .b1{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.b1 p{
    text-align: center;
    font-weight: bold;
}
.arrivals .b2{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.b2 p{
    text-align: center;
    font-weight: bold;
}
.ad {
    margin-top:30px;
}
.ad img{
    height:200px;
    width:1350px;
}
.adbox .b1{
    margin-top:50px;
    display:flex;
    /* gap:10px; */
    justify-content: center;
    justify-content: space-around;
}
.adbox .b1 div{
    height:280px;
    width:220px;
    background-color: rgb(189, 253, 253);
    text-align: center;
    border:2px solid black;
    padding:10px;
}
.b1 header{
    height:25px;
    background-color: dodgerblue;
    color:black;
    border-radius:5px;
    font-size: 20px;
    font-weight: bold;
    
}
.b1 nav{
    margin-top:4px;
    height:25px;
    border-radius:5px;
    background-color: white;
    color:black;
    font-size: 19px;
}

.b1 img{
    height:130px;
    width:170px;
}
.b1 main{
    margin-top:4px;
    padding:5px;
    border-radius:4px;
    background-color: dodgerblue;
    font-size: 17px;
}
.b1 main ul{
    list-style-type: none;
}
.adbox .b2{
    margin-top:20px;
    display:flex;
    /* gap:10px; */
    justify-content: center;
    justify-content: space-around;
}
.adbox .b2 div{
    height:220px;
    width:220px;
    background-color: rgb(189, 253, 253);
    text-align: center;
    border:2px solid black;
    padding:10px;
}
.b2 header{
    height:25px;
    background-color: dodgerblue;
    color:black;
    border-radius:5px;
    font-size: 20px;
    font-weight: bold;
    
}
.b2 nav{
    margin-top:4px;
    height:25px;
    border-radius:5px;
    background-color: white;
    color:black;
    font-size: 19px;
}
.b2 img{
    height:130px;
    width:170px;
}
.b2 main{
    margin-top:4px;
    padding:5px;
    border-radius:4px;
    background-color: dodgerblue;
}
.footer{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(76, 24, 245);
}
.footer .r1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.r1 ul{
    font-size: 24px;
    line-height: 35px;;
    list-style-type: none;
    color:white;
}
.footer .r2{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    color:white;
    gap:80px;
}
.r2 div{
    margin-left:60px;
}
.r2 img{
    height:50px;
    width:200px;
}
a:hover{
    transform: skew(90deg);
}